{% extends "user/base.html" %} 

{% block title %} Add User {% endblock title %} 

{% block page_title %}
<h1>Add User</h1>
{% endblock page_title %}

{% block page_content %}
<div class="container">
    <form method="POST" action="{% url 'add' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
    </form>
</div>
{% endblock page_content %}