<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Default Title {% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <nav class="nav">
                    <a class="nav-link" href="{% url 'list' %}">List Users</a>
                    <a class="nav-link" href="{% url 'add' %}">Add User</a>
                </nav>
            </div>
            <div>
                <h1>Users App</h1>
            </div>
        </div>
        
        {% block page_title %} Default Title {% endblock page_title %}
        {% block page_content %} Default Content {% endblock page_content %}
    </div>
</body>
</html>