{% extends "user/base.html" %} 

{% block title %} List Users {% endblock title %} 

{% block page_title %}
<h1>List Users</h1>
{% endblock page_title %}

{% block page_content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page_content %}