{% extends "user/base.html" %}

{% block title %} Welcome {% endblock title %}

{% block page_title %}
<h1>Welcome</h1>
{% endblock page_title %}

{% block page_content %}
<p>Welcome to my simple application</p>
{% endblock page_content %} 